* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  display: block; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  list-style-type: none;
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav li {
	display: inline;
  padding: 10px;
}

a {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

header {
  padding: 1em;
}

section {
  min-height: 100px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}


/* input[type=text] {
  margin-left: 8px;
  box-sizing: border-box;
} */

.display {
  max-width: 100%;
	padding: 20px 12px 10px 20px;
}

.display-heading {
  font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid rgb(10, 10, 10);
	margin-bottom: 5px;
	font-size: 25px;
	padding-bottom: 1px;
}

.display label{
	display: block;
	margin: 0px 0px 15px 0px;
  text-align: left;
}

.display label > span{
	width: 200px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 1px;
}

.display input.display-field {
	width: 20%;
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;	
}

#display-account {
	margin: 0px 0px 15px 0px;
  font-size: 100px;
  color: red;
  text-align: left;
  width: 200px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 1px;
}

#display-amount {
  width: 20%;
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;	
}





